@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}
@keyframes drop {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes valid {
    0% {
        left: -20%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

.menu-trigger.type7 span:nth-of-type(1) {
    -webkit-animation: menu-bar07-01 0.75s forwards;
    animation: menu-bar07-01 0.75s forwards;
}
@-webkit-keyframes menu-bar07-01 {
    0% {
        -webkit-transform: translateY(13px) rotate(45deg);
    }
    50% {
        -webkit-transform: translateY(13px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
    }
}
@keyframes menu-bar07-01 {
    0% {
        transform: translateY(13px) rotate(45deg);
    }
    50% {
        transform: translateY(13px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
.menu-trigger.type7 span:nth-of-type(2) {
    transition: all 0.25s 0.25s;
    opacity: 1;
}
.menu-trigger.type7 span:nth-of-type(3) {
    -webkit-animation: menu-bar07-02 0.75s forwards;
    animation: menu-bar07-02 0.75s forwards;
}
@-webkit-keyframes menu-bar07-02 {
    0% {
        -webkit-transform: translateY(-12px) rotate(-45deg);
    }
    50% {
        -webkit-transform: translateY(-12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(0) rotate(0);
    }
}
@keyframes menu-bar07-02 {
    0% {
        transform: translateY(-12px) rotate(-45deg);
    }
    50% {
        transform: translateY(-12px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}
.menu-trigger.active-7 span:nth-of-type(1) {
    -webkit-animation: active-menu-bar07-01 0.75s forwards;
    animation: active-menu-bar07-01 0.75s forwards;
}
@-webkit-keyframes active-menu-bar07-01 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(12px) rotate(45deg);
    }
}
@keyframes active-menu-bar07-01 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(12px) rotate(0);
    }
    100% {
        transform: translateY(12px) rotate(45deg);
    }
}
.menu-trigger.active-7 span:nth-of-type(2) {
    opacity: 0;
}
.menu-trigger.active-7 span:nth-of-type(3) {
    -webkit-animation: active-menu-bar07-02 0.75s forwards;
    animation: active-menu-bar07-02 0.75s forwards;
}
@-webkit-keyframes active-menu-bar07-02 {
    0% {
        -webkit-transform: translateY(0) rotate(0);
    }
    50% {
        -webkit-transform: translateY(-12px) rotate(0);
    }
    100% {
        -webkit-transform: translateY(-12px) rotate(-45deg);
    }
}
@keyframes active-menu-bar07-02 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-12px) rotate(0);
    }
    100% {
        transform: translateY(-12px) rotate(-45deg);
    }
}
